<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add payee Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
.ffooter {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	height: 30px;
	background-color: #e9ffe7;
}

* {
	box-sizing: border-box;
}

.row {
	display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
	flex: 50%;
	padding: 10px;
}
</style>

<script type="text/javascript">
	function validateForm() {
		var tpayeeAcc = $("#payeeAccountNo").val();
		var ttpayeeAcc = $("#accNumberConfirm").val();
		var tpayeeName = $("#payeeName").val();
		var tpayeeNick = $("#payeeNickName").val();
		//	var tpayeeEmail=$("payeeEmail").val
		var tremark = $("#remarks").val();
		var tpayeeAccConfirm = $("#accNumberConfirm").val();

		if (tpayeeAcc.length == 0) {
			$("#errorMessage").html("Please enter the payee account number");
			$("#payeeAcc").css("borderColor", "red");
			$("#payeeAcc").focus();
			return;
		} else {
			$("#errorMessage").html("");
			$("#payeeAcc").css("borderColor", "inherit");
		}

		if (tpayeeAcc != tpayeeAccConfirm) {
			$("#errorMessage")
					.html("Account Number and Confirmation does not match. Please Try Again");
			$("#tpayeeAcc").css("borderColor", "red");
			$("#accNumberConfirm").css("borderColor", "red");
			$("#tpayeeAcc").focus();
			$("#accNumberConfirm").focus();
			return;
		} else {
			$("#errorMessage").html("");
			$("#tpayeeAcc").css("borderColor", "inherit");
		}

		if (tpayeeName.length == 0) {
			$("#errorMessage").html("Please enter the payee name");
			$("#payeeName").css("borderColor", "red");
			$("#payeeName").focus();
			return;
		}

		else {
			$("#errorMessage").html("");
			$("#payeeName").css("borderColor", "inherit");
		}
		/* 	if (tpayeeEmail.length == 0) {
				$("#errorMessage").html("Please enter the payee account number");
				$("#payeeEmail").css("borderColor", "red");
				$("#payeeEmail").focus();
				return;
			} else {
				$("#errorMessage").html("");
				$("#payeeEmail").css("borderColor", "inherit");
			}
		 */
		document.addPayeeForm.submit();
	}
</script>
</head>
<body>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Chiluminati Bank</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/customer/dashboard}">
						DashBoard
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Payee Service </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="nav-link" th:href="@{/customer/addPayee}">Add payee</a>
						<a class="nav-link" th:href="@{/customer/pendingPayee}">Pending payee</a>
						<a class="nav-link" th:href="@{/customer/registeredPayee}">Registered payee</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Customer Service </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/customer/transferMoney}">Transfer Funds</a>
						<a class="dropdown-item" th:href="@{/customer/depositFunds}">Deposit Money</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/customer/logout}">LogOut</a>
				</li>
			</ul>
			<span th:utext="${session.userSessionVO.username}" id="loginId" th:unless="${session == null}"
				style="font-weight: bold;"></span>
			<span style="font-weight: bold;" th:utext="${session.userSessionVO.roles}"> </span>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled>Search</button>
			</form>
		</div>
	</nav>

		<div class="container">


			<form th:action="@{/customer/account/addPayee}" method="POST" th:object="${payeeInfoVO}" name="addPayeeForm">
				<!-- <input type="hidden" th:value="${session.userSessionVO.username}" th:name="customerId" />  -->
				<span id="errorMessage" th:utext="${error}" style="color: red; font-size: 14px;"></span>
				<span id="errorMessage" th:utext="${successMessage}" style="color: blue; font-size: 14px;"></span>
				<br />


				<div class="row">
					<div class="column">
						<label for="payeeAccountName">Payee Account name:</label>
						<br />
						<input type="text" style="width: 100%;" class="form-control" th:field="*{payeeName}"
							placeholder="Enter the payee name">
						<span th:if="${#fields.hasErrors('payeeName')}" th:errors="*{payeeName}" style="color: red">Name Error</span>
						<br>
						<label for="payeeName">Account Number:</label>
						<br />
						<input type="text" style="width: 100%;" class="form-control" th:field="*{payeeAccountNo}"
							placeholder="Enter the payee account number">
						<span th:if="${#fields.hasErrors('payeeAccountNo')}" th:errors="*{payeeAccountNo}" style="color: red">Account
							Number Error</span>
						<br>
						<label for="payeeEmail">Account Email:</label>
						<br />
						<input type="text" style="width: 100%;" class="form-control" id="payeeEmail" name="payeeEmail"
							placeholder="Enter the payee email">

					</div>
					<div class="column">
						<label for="tpayeeAcc">Nickname:</label>
						<br />
						<input type="text" style="width: 100%;" class="form-control" th:field="*{payeeNickName}"
							placeholder="Set nickname">
						<span th:if="${#fields.hasErrors('payeeNickName')}" th:errors="*{payeeNickName}" style="color: red">Account
							Number Error</span>
						<br>
						<label for="payeeNickName">Confirm Account number:</label>
						<br />
						<input type="text" style="width: 100%;" class="form-control" th:field="*{accNumberConfirm}"
							placeholder="Confirm the payee account number">
						<span th:if="${#fields.hasErrors('accNumberConfirm')}" th:errors="*{accNumberConfirm}" style="color: red"></span>
						<br>
						<label for="remarks">Remarks:</label>
						<br />
						<input type="text" style="width: 100%; align: center" class="form-control" id="remark" name="remarks">
					</div>
				</div>



				<button type="button" id="submitButton" onclick="validateForm();" class="btn btn-primary">Add payee</button>

			</form>
		</div>
	<footer class="ffooter"> </footer>

</body>
</html>
