<div class="modal" id="creditCardModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				Credit Card Generator
			</div>
			<div class="modal-body">
				<p th:name=""></p>
				<img src="" id="userImage" style="align: right;"> <img src=""
					id="credit card" width=100%>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Submit</button>
				<button type="button" class="btn btn-outline pull-left"
					data-dismiss="modal">Close</button>
				<a type="button" class="btn btn-danger"><i class="fa fa-check"></i>&nbsp;Yes</a>
			</div>
		</div>
	</div>
</div>