<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Search Customers</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
.ffooter {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	height: 30px;
	background-color: #e9ffe7;
}
</style>
<script type="text/javascript">
 function searchUsers(){
$("#body").empty();
	 var searchText=$("#search").val();
	 if(searchText.length!=0){
	var values= fetch("/v3/customer/searchCustomers?searchText="+searchText);
	
	var a=values.then(res=>res.json())
	a.then(function(data){
		$("#ptable").show(); 
		var tdata ='';
			$.each(data,function(key,value){
			tdata +='<tr>';
			tdata +='<td>'+(key+1)+'</td>';
			tdata +='<td>'+value.name+'</td>';
			tdata +='<td>'+value.email+'</td>'; 
			tdata +='<td>'+value.gender+'</td>';
			tdata +='<td><img src=/load/image?email='+value.email+' style=height:150px;></td>';
			tdata +='<td>'+value.doe+'</td>';
			var name="Saurav Shrestha";
			tdata +='<td><img src="/images/cc.jpg" style="height:30px;" onClick="openCcModal(\''+value.email+'\');"></td>'; 
			tdata +='</tr>';
			}) ;
			$('#body').append(tdata);
		}).catch(
			error=>{
				console.log('No Data Found');
				$("#errorMsg").html("Invalid Email or App Ref")
				$("#ptable").hide();}
			) 
 }
	 }
       function messageClear(){
    	   var searchText=$("#search").val();
    	   if(searchText.length==0){
    		   $("#ptable").hide();
    	   }
    	   $("#errorMessage").html("");
       }
 function openCcModal(email){
	 $("#generate").show();
	 $("#exists").empty();
	 
	 $("#ccFront").show().attr("src","/images/cc.jpg");
	 $("#ccBack").show().attr("src","/images/ccBack.jpg");
	  var values= fetch("/v3/customer/findEmail?email="+email);
	 values.then(res=>res.json()).then(function(data){
		 $("#ccname").html("Hey "+data.name);
		 $("#userImage").attr("src",
				"/load/image?email="
						+ data.email)
		 $("#submitEmail").val(data.email);
		 $("#submitId").val(data.id); 
		 
	 })
	 $("#creditModal").show();
 }
 function closeModal(){
	 $("#creditModal").hide();
	  /* location.reload(); */
 }
 function generateCard(){
	 
	 var email= $("#submitEmail").val();
	 var id= $("#submitId").val();
	 var check=fetch("/credit/checkIfExitst?email=" + email);
	 var test=false;
	 
	 check.then(resp=>resp.json()).then(function(data){
		 console.log('f'+data)
	 
	 if(data==false){
		 console.log("data does not exit")
	 var values= fetch("/credit/customer/createCcData?email="+email+"&id="+id);
	 console.log(values);
	 values.then(res=>res.json()).then(function(data){
		 
		 $("#ccFront").attr("src","/load/image/CcFront?email="+email);
		 $("#ccBack").attr("src","/load/image/CcBack?email="+email);
	 }).catch(error=>console.log(error));
	 }else{
		 $("#generate").hide();
		 $("#submitButton").hide();
		 console.log("data already exist")
		 $("#exists").html("<br>Sorry, You already have a card");
		 $("#ccFront").hide();
		 $("#ccBack").hide();
	 }})
 }
 function submit(){
	var cc=$("#submitEmail").val();
	var cname=$("#ccname").html();
	console.log(cc);
	var a=$.post("/credit/creditCard/sendEmail",{email:cc,name:cname},function(text){
		console.log(text);
	});
	/* $.ajax({
        url: "/v3/customer/saveCreditCard",
        type: 'Get',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        data:cc}) */
        
  /* $.post("/v3/customer/saveCreditCard",
		  {credit:JSON.parse(cc)})	   */
	/*     
 	  var status=fetch("/v3/customer/saveCreditCard?customer=\'"+cc+"\'",{method:'post'});
	 console.log(status) */ 
 	$("#creditModal").hide();
	 $("#successMessage").html("Please check your Email to activate your Card");
 }
 
 
 </script>
</head>
<body>
	<header style="height: 30px; background-color: #37adda;"> </header>
	<div class="container">
		<h2>Search for Users</h2>
		<img th:src="@{/images/userSearch.png}" alt="Logo"
			style="height: 140px" /> <br />

		<div style="width: 70%">
			<span id="successMessage" style="color: blue; font-size: 30px;"></span>
			<div class="form-group">
				<label for="nameOrEmail">Enter Name or Email:</label> <input
					type="text" style="width: 60%;" class="form-control" name="search"
					id="search" placeholder="Enter email or name"
					onkeyup="messageClear();">
			</div>


			<button type="button" class="btn btn-primary"
				onClick="searchUsers();">Search</button>

			<button type="reset" class="btn btn-danger">Reset</button>

			<a th:href="@{/customer/account/enquiry}">
				<button type="button" class="btn btn-warning">Customer
					Enquiry</button>
			</a> <a th:href="@{/customer/login}">
				<button type="button" class="btn btn-danger">Login</button>
			</a> <a th:href="@{/customer/app/status}">
				<button type="button" class="btn btn-success">Enquiry
					Status</button>
			</a> <a th:href="@{/customer/customerSearch}">
				<button type="button" class="btn btn-success">Customer
					search</button>
			</a>

		</div>
		<hr />
		<span id="errorMsg" style="color: red"></span>
		<div id="ptable" style="display: none;">
			<p>
				<img th:src="@{/images/result.png}" style="height: 60px" id="ptable">
				Current Customers
			</p>
			<table class="table" id="table">
				<thead>
					<tr>
						<th>S.No</th>
						<th>Name</th>
						<th>Email</th>
						<th>Gender</th>
						<th>Photo</th>
						<th>DOE</th>
						<th>Get Credit Card</th>

					</tr>
				</thead>
				<tbody id="body">

				</tbody>
				<tfoot style="display: none;">
					<tr id="sample">

						<td id="sno">@mdo</td>
						<td id="name">@mdo</td>
						<td id="email">@mdo</td>
						<td id="gender">@mdo</td>
						<td id="photo">@mdo</td>
						<td id="doe">@mdo</td>
						<td id="cc">@mdo</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>

	<div id="creditModal" class="modal">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h3>Generate Credit Card</h3>
					<button type="button" class="close" data-dismiss="modal"
						onClick="closeModal();">&times;</button>
				</div>
				<div class="modal-body">
					<h3>Credit Card Generator</h3>
					<span id="ccname"></span> <img src="" id="userImage"
						style="float: right; height: 100px;"><br> <br> <br>
					<br> <input id="submitEmail" name="submitEmail" type="hidden">
					<input id="submitId" name="submitId" type="hidden">
					<hr />
					<button type="button" class="btn btn-warning"
						onClick="javascript:generateCard();" id="generate">Generate</button>
					<span id="exists" style="color: red; font-size: 25px;"></span> <br>
					<img src="" id="ccFront" width=100%> <img src="" id="ccBack"
						width=100%>
					<div class="modal-footer">
						<button type="button" onclick="javascript:submit();"
							id="submitButton" class="btn btn-primary">Submit</button>
						<button type="button" class="btn btn-default" data-dismiss="modal"
							onClick="closeModal();">Close</button>

					</div>
				</div>

			</div>
		</div>
	</div>
	<footer class="ffooter"> </footer>


</body>
</html>
