<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Customer Dashboard Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
.ffooter {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	height: 30px;
	background-color: #e9ffe7;
}
</style>
<script type="text/javascript">
	function ccModal(email) {
		$("#ptable").hide();
		$("#closeTable").hide();
		console.log(email);
		$("#creditModal").modal("show");
		$("#ccFront").attr("src", "/load/image/CcFront?email=" + email);
		$("#ccBack").attr("src", "/load/image/CcBack?email=" + email);
	}
	function statement() {
		$("#body").empty();
		var login=$("#loginId").html();
		var test=fetch("/v3/customer/transactionHistory?loginid="+login);
		test.then(resp=>resp.json()).then(function(data){
			console.log(data);
			var tdata ='';
			$.each(data,function(key,value){
				tdata +='<tr>';
				tdata += '<td>'+(key+1)+'</td>';
				tdata += '<td>'+value.transactionDate+'</td>';
				tdata += '<td>'+value.sentTo+'</td>';
				tdata += '<td>'+value.remarks+'</td>';
				tdata += '<td> $'+value.amount+'</td>';
				tdata +='</tr>'
			})
			$("#body").append(tdata);
		})
				$("#closeTable").show();	
		$("#ptable").show();
	}
	function closetable(){
		$("#closeTable").hide();
		$("#ptable").hide();
	}
	function picture() {
		$("#ptable").hide();
		$("#closeTable").hide();
	}
	function details() {
		$("#ptable").hide();
		$("#closeTable").hide();
	}
</script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light" style="background: #0000008c;">
		<a class="navbar-brand" href="#">Chiluminati Bank</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/customer/dashboard}">
						DashBoard
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Payee Service </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="nav-link" th:href="@{/customer/addPayee}">Add payee</a>
						<a class="nav-link" th:href="@{/customer/pendingPayee}">Pending payee</a>
						<a class="nav-link" th:href="@{/customer/registeredPayee}">Registered payee</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Customer Service </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/customer/transferMoney}">Transfer Funds</a>
						<a class="dropdown-item" th:href="@{/customer/depositFunds}">Deposit Money</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Account Service </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#" th:onclick="|ccModal('${session.userSessionVO.username}');|">View Credit
							Card</a>
						<a class="dropdown-item" href="#" th:onclick="|statement();|">View Statement </a>
						<a class="dropdown-item" href="#" th:onclick="|picture();|">View Profile Picture </a>
						<a class="dropdown-item" href="#" th:onclick="|details();|">View Account Details </a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/customer/logout}">LogOut</a>
				</li>
			</ul>
			<span th:utext="${session.userSessionVO.username}" id="loginId" th:unless="${session == null}"
				style="font-weight: bold;"></span>
			<span style="font-weight: bold;" th:utext="${session.userSessionVO.roles}"> </span>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled>Search</button>
			</form>
		</div>
	</nav>
	<div class="container">
		<br />
		<span id="successMessage" style="color: blue"></span>
		<img th:src="@{/images/customer_dashboard.jpg}" alt="page" />
		<br>
	
		<br>
		<span th:utext="${error}" style="color: red; font-size: 18px;"></span>
		<div style="width: 70%"></div>
		<hr />
	</div>
	<div id="creditModal" class="modal modal-fade">
		<div class="modal-dialog">
			Modal content
			<div class="modal-content">
				<div class="modal-header">
					<h3>Your Credit Card</h3>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<h3>Credit Card</h3>
					<span id="ccname"></span>
					<br>
					<br>
					<input id="submitEmail" name="submitEmail" type="hidden">
					<input id="submitId" name="submitId" type="hidden">
					<hr />
					<br>
					<img src="" id="ccFront" width=100%>
					<img src="" id="ccBack" width=100%>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<table class="table" id="ptable" style="display: none;">
			<thead>
				<tr>
					<th>S.No</th>
					<th>Date</th>
					<th>Receiver(AcNo + Name)</th>
					<th>Remarks</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody id="body">
			</tbody>
			<tfoot style="display: none;">
				<tr id="sample">
					<td id="sno">@mdo</td>
					<td id="date">@mdo</td>
					<td id="receiver">@mdo</td>
					<td id="memo">@mdo</td>
					<td id="amount">@mdo</td>
				</tr>
			</tfoot>
		</table>
		<button type="button" class="btn btn-dark" style="display: none" id="closeTable" onClick="closetable();">Hide</button>
	</div>
	<footer class="ffooter"> </footer>
</body>
</html>