<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add payee Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
.ffooter {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	height: 30px;
	background-color: #e9ffe7;
}

</style>

<script type="text/javascript">

function validateFormAccept(){
	$("#buttonValue").val("accept");
	validateForm();
}
function validateFormReject(){
	$("#buttonValue").val("reject");
	validateForm();
}

	function validateForm() {
		var urn = $("#urnNumber").val();
		var payeeName=$("#payeeName").html();
		var customerId=$("#custEmail").html();
		if (urn == 0) {
			$("#errorMessage").html("Please enter the URN");
			$("#urnNumber").css("borderColor", "red");
			$("#urnNumber").focus();
			return;
		} else {
			$("#errorMessage").html("");
			$("#urnNumber").css("borderColor", "inherit");
		}
		
		var promise=fetch("/v3/customer/findPayeeUrn?payeeName="+payeeName+"&customerId="+customerId)
		promise.then(resp=>resp.text()).then(function(data){
	if(data==urn){
		document.confirmPayee.submit();
	}else{
		$("#errorMessage").html("Sorry the URN doesnt match. Please Refer your email");
	}			
			
			
		})

	
	}
</script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Chiluminati Bank</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/customer/dashboard}">
						DashBoard
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Payee Service </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="nav-link" th:href="@{/customer/addPayee}">Add payee</a>
						<a class="nav-link" th:href="@{/customer/pendingPayee}">Pending payee</a>
						<a class="nav-link" th:href="@{/customer/registeredPayee}">Registered payee</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Customer Service </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/customer/transferMoney}">Transfer Funds</a>
						<a class="dropdown-item" th:href="@{/customer/depositFunds}">Deposit Money</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/customer/logout}">LogOut</a>
				</li>
			</ul>
			<span th:utext="${session.userSessionVO.username}" id="loginId" th:unless="${session == null}"
				style="font-weight: bold;"></span>
			<span style="font-weight: bold;" th:utext="${session.userSessionVO.roles}"> </span>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled>Search</button>
			</form>
		</div>
	</nav>

		<div class="container">


			<form th:action="@{/customer/account/confirmPayee}" method="POST" th:object="${payeeInfoVO}" name="confirmPayee">
				<input type="hidden" th:value="${session.userSessionVO.username}" th:name="customerId" /> 
				<input type="hidden" th:value="${payeeDetail.payeeName}" th:name="payeeNameIn" /> 
				<span id="errorMessage"  th:utext="${error}" style="color: red; font-size: 14px;"></span> 
				<span id="errorMessage" th:utext="${successMessage}" style="color: blue; font-size: 14px;"></span> <br />
				<div class="form-control">
		<label for="customer Name">Customer Email:</label> 
					<span  id="custEmail"  th:utext="${session.userSessionVO.username}" ></span>
						 <br> 
			<label for="payeeName">Payee Name:</label> 
			<span  id="payeeName"  th:utext="${payeeDetail.payeeName}" ></span>
			<br>
		<label for="URN"> Enter the URN</label>
		<input type="text" style="width: 100%;" class="form-control" id="urnNumber" name="urnNumber" placeholder="Enter the URN">
			<br/>
			<input type="hidden" name="buttonValue" id="buttonValue"/>
 				<button type="button" id="submitButton"  onclick="validateFormAccept();"
					class="btn btn-primary" style="margin-right:20px;">Confirm payee</button>
					<button type="button" id="submitButton"  onclick="validateFormReject();"
					class="btn btn-danger">Reject payee</button>
</div>
			</form>
		</div>
	</div>
	<footer class="ffooter"> </footer>

</body>
</html>
