<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Fund Transfer Review Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
.ffooter {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	height: 30px;
	background-color: #e9ffe7;
}
</style>

<script type="text/javascript">
	$(document).ready(function() {
		$("#resend").click(function() {
			
			var change=fetch("/v3/customer/generateNewOTP");
			change.then(resp=>resp.text()).then(function(data){
				$("#otp").val(data);
				console.log(data);
			})
			
			$("#resend").prop('disabled', true);
			var timeleft = 5;
			var codeTimer = setInterval(function() {
				timeleft--;
				$("#countdown").html(timeleft + " s")
				if (timeleft <= 0) {
					clearInterval(codeTimer);
					$("#countdown").html("");
					$("#resend").prop('disabled', false);
				}
			}, 1000);

			
			
			
		})
	})
	function validate() {
		var otpEnter = $("#otpEnter").val();
		var otp = $("#otp").val();
		if (otpEnter.length == 0) {
			$("#errorOTP").html("Please Enter OTP");
			return;
		}
		console.log(otpEnter + " " + otp);
		if (otp != otpEnter) {
			$("#errorOTP").html("Incorrect OTP. Try Again");
			return;
		}
		document.sendMoney.submit();
	}
</script>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Chiluminati Bank</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/customer/dashboard}">
						DashBoard
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Payee Service </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="nav-link" th:href="@{/customer/addPayee}">Add payee</a>
						<a class="nav-link" th:href="@{/customer/pendingPayee}">Pending payee</a>
						<a class="nav-link" th:href="@{/customer/registeredPayee}">Registered payee</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Customer Service </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/customer/transferMoney}">Transfer Funds</a>
						<a class="dropdown-item" th:href="@{/customer/depositFunds}">Deposit Money</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/customer/logout}">LogOut</a>
				</li>
			</ul>
			<span th:utext="${session.userSessionVO.username}" id="loginId" th:unless="${session == null}"
				style="font-weight: bold;"></span>
			<span style="font-weight: bold;" th:utext="${session.userSessionVO.roles}"> </span>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled>Search</button>
			</form>
		</div>
	</nav>

	<div class="container">
		<h2>Fund Transfer Page</h2>
		<img th:src="@{/images/login.png}" alt="Logo" style="height: 140px" />
		<br />
		<span th:utext="${error}" style="color: red; font-size: 18px; font-weight: bold;" id="errorMessage"></span>
		<span th:utext="${message}" style="color: blue; font-size: 18px; font-weight: bold;"></span>


		<form th:action="@{/customer/sendMoneyToPayee}" Method="POST" th:object="${fundTransferVO}" name="sendMoney">
			<table class="table table-bordered" style="width: 100%;">
				<thead>
					<tr>
						<td colspan="2" id="balance"></td>
					</tr>
				</thead>
				<tr>
					<td>
						<div>
							<label for="fromAccount">From Account</label>
							<br />
							<input type="hidden" th:value="*{sentFrom}" th:field="*{sentFrom}">
							<span th:utext="*{sentFrom}" style="color: blue;"></span>

							<!-- <select class="form-control" th:field="*{accountType}">
							<option th:each="name :${accountType}" th:value="${name}" th:text="${name}"></option>
						</select> -->
						</div>
					</td>
					<td>
						<div>
							<label for="toAccount">To Account</label>
							<br />
							<input type="hidden" th:value="*{sentTo}" th:field="*{sentTo}">
							<span th:utext="*{sentTo}" style="color: blue;"></span>

							<!-- 	<select class="form-control" th:field="*{accountType}">
							<option th:each="name :${accountType}" th:value="${name}" th:text="${name}"></option>
						</select> -->
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div>
							<label for="amount">Amount</label>
							<br />
							<input type="hidden" th:value="*{amount}" th:field="*{amount}">
							<span th:utext="*{amount}" style="color: blue;"></span>
						</div>
					</td>
					<td>
						<img src="" id="photophoto" height=100px>
						<label for="OTP">Enter OTP</label>
						<input type="number" id="otpEnter" name="otpEnter" placeholder="Check your OTP">
						<input type="hidden" th:value="*{otp}" th:field="*{otp}">
						<button type="button" class="btn btn-info" id="resend">Resend</button>
						<br />
						<span th:if="${#fields.hasErrors('otp')}" th:errors="*{otp}" style="color: red">otp Error</span>
						<span id="countdown" style="color: blue"></span>
						<span id="errorOTP" style="color: red"></span>
					</td>
				</tr>
				<tr>
					<td colspan=2>
						<label for="remarks">Remarks</label>
						<br />
						<input type="hidden" th:value="*{remarks}" th:field="*{remarks}">
						<span th:utext="*{remarks}" style="color: blue;"></span>
					</td>
				</tr>
			</table>
			<button type="button" class="btn btn-primary" onClick="validate();">Transfer</button>
		</form>

	</div>
	</div>
	<footer class="ffooter"> </footer>
</body>
</html>
